/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: #FFFFFF;
    color: #1E1E1E;

}



/* ==========================
   FONTES
========================== */

@font-face {

    font-family: "Owners";
    src: url("./fonts/OwnersTRIALWide-Regular.otf") format("opentype");

}


@font-face {

    font-family: "GothamLight";
    src: url("./fonts/GothamLight.otf") format("opentype");

}


@font-face {

    font-family: "GothamMedium";
    src: url("./fonts/GothamMedium.otf") format("opentype");

}



/* ==========================
   BANNERS
========================== */


/* Banner principal */

.hero img {

    width: 100%;

    display: block;

}



/* Banner 2, 3 e próximos */

.banner img {

    width: 100%;

    display: block;

}



/* Espaçamento de 1cm entre banners */

.banner {

    margin-top: 1cm;

}



/* ==========================
   RESPONSIVO
========================== */

@media (max-width: 900px) {


    .banner {

        margin-top: 20px;

    }


}
