*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

background:#fff;

}





/* FONTES */


@font-face{

font-family:GothamLight;

src:url("./fonts/GothamLight.otf");

}



@font-face{

font-family:GothamMedium;

src:url("./fonts/GothamMedium.otf");

}






/* ==================
BANNERS
================== */


.hero,
.banner{

width:100%;

}



.hero img,
.banner img{

width:100%;

height:auto;

display:block;

}




.banner-normal{

margin-top:1cm;

}




.banner-small{

margin-top:12px;

}






/* ==================
CARROSSEL
================== */


.instagram-carousel{


margin-top:1cm;

text-align:center;


}




.carousel-area{


position:relative;

width:100%;


}




.carousel-box{


width:360px;

height:450px;

overflow:hidden;

margin:auto;


}





.carousel-track{


display:flex;

transition:.5s ease;


}




.carousel-track img{


width:360px;

height:450px;

flex:0 0 100%;

object-fit:cover;

display:block;


}






/* SETAS */


.arrow{


position:absolute;

top:50%;

transform:translateY(-50%);

background:none;

border:0;

font-size:45px;

cursor:pointer;

z-index:5;


}



.prev{

left:calc(50% - 220px);

}



.next{

right:calc(50% - 220px);

}






/* BOLINHAS */


.dots{


display:flex;

justify-content:center;

gap:10px;

margin-top:20px;


}



.dots span{


width:7px;

height:7px;

background:#ccc;

border-radius:50%;


}



.dots .active{


background:#111;


}







/* ==================
VIDEO + BANNER 5
================== */


.video-banner{


display:flex;

gap:20px;

align-items:center;

margin-top:1cm;

padding:0 40px;


}




.video-box,
.banner5-box{


width:50%;

}




.video-box video{


width:100%;

height:auto;

display:block;


}



.banner5-box img{


width:100%;

height:auto;

display:block;


}








/* ==================
MOBILE
================== */


@media(max-width:900px){



.banner-small{

margin-top:8px;

}





.carousel-box{


width:300px;

height:375px;


}




.carousel-track img{


width:300px;

height:375px;


}





.prev{

left:20px;

}



.next{

right:20px;

}





.video-banner{


flex-direction:column;

padding:0 20px;

gap:15px;


}





.video-box,
.banner5-box{


width:100%;


}



}
