/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #FFFFFF;
}


/* ==========================
   BANNERS
========================== */

.hero,
.banner {
    width: 100%;
}


.hero img,
.banner img {

    width: 100%;

    height: auto;

    display: block;

}



/* Espaçamento de 1cm entre banners */

.banner {

    margin-top: 1cm;

}



/* ==========================
   RESPONSIVO
========================== */

@media (max-width: 900px) {

    .banner {

        margin-top: 20px;

    }

}
